<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
        }
        .image-center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
        }
    </style>
    <title>Political Bias Classifier</title>
</head>
<body>
    <br>
    <br>
    <img class="image-center" src="../static/banner.png"/>
    <h3 style="text-align: center;">Demo web app</h3>
    <!-- <p class="center">This is a demo of my political bias classier program. It allows you run the program right here in the browser. Simply type in a sequence of text in the box below and wait until the output is shown. Enjoy!</p> -->
<br> 
    <div class='center' style="border: 1px solid #990000;">
        
  The answer is: 
  <br> 
  <h3>{{ result }}</h3>
  <hr>

  <a href=/ ><button style="height:35px;width:90px">Try again!</button></a>

</div>
</body>
</html>